

<%= form_tag login_index_path, :html => {:class => "form-horizontal center"} do |f| %>
<div class="form-group">
   <%= label_tag :username, "Username:", class: "col-md-4 control-label" %>
<div class="col-md-8">
     <%= text_field_tag :username, class: "form-control" %>
</div>
</div>
 <div class="form-group">
         <%= label_tag :password, "Password:", class: "col-md-4 control-label" %>
         <div class="col-md-8">
           <%= password_field_tag :password, class: "form-control" %>
           <%= submit_tag "Log in" %>
        </div>
 </div>


<div>


 <% if flash[:errors]%>
 <% flash[:errors].each do |error|%>
 <%= error %>
 <%end%>
 <%end%>

  <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
  </div>
