<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <title>Fancy Form</title>
</head>

<body>



<div class="container-all">
  

<div class="content">

<div class="login-form">
<%= form_tag login_index_path do %>
  <ul>
    <li>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </li>
  </ul>
  <%= submit_tag "Log in" %>
<% end %>

 <% if flash[:errors]%>
 <% flash[:errors].each do |error|%>
 <%= error %>
 <%end%>
 <%end%>

  <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
  
</div>
</div>
</div>
</body>

</html>
